@font-face { font-family: Glinster; src: url('glinster/Glinster.otf'); } 
@font-face { font-family: Open Sans; src: url('Open_Sans/static/OpenSans-Regular.ttf'); } 

body {
    background-color: #070707;
    margin: 6% 10% 6% 10%;
}


.navbar {
    position: fixed;
    top: 0;

    width: 100%;
    background-color: #070707;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom:10px;
    z-index: 1000; 
}

.nav-item {
    margin: 0 15px;
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #D0B8AC;
}

a {
    text-decoration: none;
    color: #070707;
}
/* LANDING PAGE STYLING */
.banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:561px;
}

.one-third {
    flex-basis: 30%;
}

.two-thirds {
    flex-basis: 60%;
}

.home-title{
    font-size: 7rem;
    font-family: "Glinster";
    font-weight: 400;
    color: rgba(208, 184, 172, 1);
    overflow: visible;
    margin-bottom: 0px;
    margin-top:0px;
}

.home-subtitle{
    font-size: 1em;
    font-family: "Open Sans";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    overflow: auto;

}

.social-media-strip {
    position: absolute; 
    width: 1rem;
    height: 400px;
    right:10%;
}

.social-media-icons {
    position: absolute;
    top:33%;
    height: 120px;
}

.first-icon {
    width: 1rem;
    height: 1rem;
    left: 0px;
    top: 0px;
    position: absolute;
}

.second-icon {
    width: 1rem;
    height: 1rem;
    left: 0px;
    top: 50%;
    position: absolute;
}

.third-icon {
    width: 1rem;
    height: 1rem;
    left: 0px; 
    top: 100%;
    position: absolute; 
}

.social-media-lines {
    left: 50%;
    position: absolute;
}
.top-line {

        transform: rotate(180deg);
        position: absolute;
        width: 1px;
        height: 100px;
        top: 0px;
        right: 0px;
        background-color: #d0b8ac;
    
}

.bottom-line {
    transform: rotate(180deg);
        position: absolute;
        width: 1px;
        height: 100px;
        top: 300px;
        right: 0px;
        background-color: #d0b8ac;
}

.landing-image {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 47%;
}

.read-more-button {
    background-color: #b7c0b2;
    padding: 0px 15px;
    border: 1px solid #070707;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex; 
    border-radius: 8px;
    align-items: center; 
    margin-top: 2em;
}

.button-content {
    display: flex;
    align-items: center;
    color: #070707;
}
.button-content:hover {
    color: #D0B8AC;
}

.read-more-button:hover {
    background-color: #070707;

}

.right-arrow {
    padding-left: 12px;
    fill: #fff;
}


.second-section {
    width: 100%;
    height: 1200px;
}


  
  .second-section .overlap {
    top: 250px;
    position: relative;
    height: 800px;
  }
  
  .second-section .rectangle {
    position: absolute;
    width: 1px;
    height: 242px;
    top: 165px;
    left: 47%;
    background-color: #d0b8ac;
  }
  
  .second-section .content {
    position: absolute;
    width: 100%;
    height: 792px;
    top: 0;
    left: 0;
  }
  
  .second-section .overlap-group {
    position: relative;
    height: 792px;
  }
  
  .second-section .image {
    position: absolute;
    width: 100%;
    height: 792px;
    top: 0;
    
  }
  
  .second-section .first-image {
    position: absolute;
    width: 383px;
    height: 376px;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius:8px;
  }
  
  .second-section .second-image {
    position: absolute;
    width: 458px;
    height: 628px;
    top: 164px;
    right:0;
    object-fit: cover;
    border-radius:8px;
  }
  
  .second-section .text {
    position: absolute;
    width: 100%;
    height: 697px;
    top: 0;
    left: 0;
  }
  
  .second-section .text-wrapper {
    position: absolute;
    width: 100%;
    top: 437px;
    left: 0;
    font-size: 6rem;
    font-family: "Glinster";
    font-weight: 400;
    color: rgba(208, 184, 172, 1);
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .second-section .div {
    position: absolute;
    width: 100%;
    top: 550px;
    left: 125px;
    font-size: 6rem;
    font-family: "Glinster";
    font-weight: 400;
    color: rgba(208, 184, 172, 1);
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .second-section .quote {
    position: absolute;
    width: 859px;
    top: 18px;
    left: 441px;
    font-size: 1em;
    font-family: "Open Sans";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0;
    line-height: normal;
    padding-top: 21px;
  }
  

  .quote::before {
    content: '"';
    font-family: "Glinster";
    font-weight: 400;
    color: rgba(208, 184, 172, 1);
    font-size: 10em;
    vertical-align: text-bottom; 
    line-height: 1;
    position: absolute;
    top:-43px;
    left: 50%;
    

  }

  
  .third-section {
    width: 100%;
    height: 1125px;
  }
  
  .third-section .third-container {
    position: relative;
    width: 100%;
    height: 967px;
    top: 0;
    left: 0;
    
  }
  
  .third-section .content {
    position: absolute;
    width: 100%;
    height: 967px;
    top: 0;
    left: 0;
  }
  
  .third-section .overlap {
    position: absolute;
    width: 100%;
    height: 969px;
    top: 0;
    left: 0;
  }
  
  .third-section .photography {
    position: absolute;
    width: 100%;
    height: 867px;
    top: 0;
    left: 0;
  }
  
  
  
  .third-section .text-wrapper {
    position: absolute;
    width: 100%;
    top: 40;
    left: 0;
    font-size: 4rem;
    font-family: "Glinster";
    font-weight: 400;
    color: rgba(208, 184, 172, 1);
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .third-section .overlap-group {
    position: absolute;
    width: 577px;
    height: 599px;
    top: 268px;
    right:0;
  }
  
  .third-section .rectangle {
    width: 461px;
    height: 533px;
    top: 0;
    left: 116px;
    position: absolute;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .third-section .img {
    width: 276px;
    height: 294px;
    top: 305px;
    left: 0;
    position: absolute;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .third-section .portrait {
    position: absolute;
    width: 553px;
    height: 691px;
    top: 129px;
    left: 0;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .third-section .text {
    position: absolute;
    width: 925px;
    height: 80px;
    top: 111px;
    left: 610px;
  }
  
  .third-section .thought-years-of {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 0;
    line-height: normal;
  }
  
.portfolio-button {
    background-color: #b7c0b2;
    padding: 0px 15px;
    border: 1px solid #070707;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex; 
    border-radius: 8px;
    align-items: center; 
    margin-top: 2em;
    top:897px;
    right: 0;
    position:absolute;
}

.portfolio-button-content {
    display: flex;
    align-items: center;
    color: #070707;
}
.portfolio-button-content:hover {
    color: #D0B8AC;
}

.portfolio-button:hover {
    background-color: #070707;

}

.portfolio-right-arrow {
    padding-left: 12px;
}
  
  .third-section .div {
    position: absolute;
    top: 3px;
    left: 0;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #d0b8ac;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .third-section .line {
    transform: rotate(90deg);
        position: absolute;
        width: 1px;
        height: 553px;
        top: 686px;
        left: 277px;
    
        background-color: #d0b8ac;
  }
.middle-rectangle{
    position: absolute;
    width: 1px;
    height: 242px;
    top: 384px;
    left: 818px;
    background-color: #d0b8ac;
  }


  .fourth-section {
    position: relative;
    width: 100%;;
    height: 721px;
  }
  
  .fourth-section .content {
    position: relative;
    width: 100%;
    height: 721px;
    top: 0;
    left: 0;
  }
  
  .fourth-section .title {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 6px;
    left: 0;
  }
  
  .fourth-section .text-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 4rem;
    font-family: "Glinster";
    font-weight: 400;
    color: rgba(208, 184, 172, 1);
    letter-spacing: 0;
    line-height: normal;
  }
  
  .fourth-section .image {
    position: absolute;
    width: 100%;
    height: 328px;
    top: 323px;
    left: 0;
  }
  
  .fourth-section .rectangle {
    position: absolute;
    width: 290px;
    height: 328px;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .fourth-section .img {
    position: absolute;
    width: 290px;
    height: 328px;
    top: 0;
    left: 27%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .fourth-section .rectangle-2 {
    position: absolute;
    width: 290px;
    height: 328px;
    top: 0;
    left: 54%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .fourth-section .rectangle-3 {
    position: absolute;
    width: 290px;
    height: 328px;
    top: 0;
    right: 0;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .work-button {
    background-color: #b7c0b2;
    padding: 0px 15px;
    border: 1px solid #070707;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex; 
    border-radius: 8px;
    align-items: center; 
    margin-top: 2em;
    top:190px;
    right: 4em;
    position:absolute;
}

.work-button-content {
    display: flex;
    align-items: center;
    color: #070707;
}
.work-button-content:hover {
    color: #D0B8AC;
}

.work-button:hover {
    background-color: #070707;

}

.work-right-arrow {
    padding-left: 12px;
}
  
  .fourth-section .div {
    position: absolute;
    top: 4px;
    left: 0;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #d0b8ac;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .fourth-section .text {
    position: absolute;
    width: 100%;
    height: 103px;
    top: 30px;
    right:3.6em;
  }
  
  .fourth-section .p {
    position: absolute;
    width: 630px;
    top: 0;
    right:0;
    font-size: 1em;
    font-family: "Open Sans";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0;
    line-height: normal;
  }
  
 
  
  .fourth-section .overlap-group {
    position: relative;
    height: 30px;
  }
  
  .fourth-section .rectangle-4 {
    position: absolute;
    width: 268px;
    height: 2px;
    top: 14px;
    left: 54px;
    background-color: #585858;
  }
  

.work-line{
    transform: rotate(180deg);
        position: absolute;
        width: 1px;
        height: 260px;
        top: 0px;
        right: 0px;
        background-color: #d0b8ac;
}


.fifth-section {
    width: 100%;
    height: 903px;
  }
  
  .fifth-section .fifth-container {
    position: relative;
    width: 100%;
    height: 903px;
    top: 0;
    left: 0;

  }
  
  .fifth-section .content {
    position: relative;
    width: 100%;
    height: 703px;
    top: 100px;
  }
  
  .fifth-section .title {
    position: absolute;
    width: 586px;
    height: 75px;
    top: 0;
    right: 4em;
  }
  
  .fifth-section .text-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 4rem;
    font-family: "Glinster";
    font-weight: 400;
    color: rgba(208, 184, 172, 1);
    letter-spacing: 0;
    line-height: normal;
  }
  
  .fifth-section .image {
    position: absolute;
    width: 560px;
    height: 703px;
    top: 0;
    left: 0;
    background-image: url(./images/couple.jpeg);
    background-size: cover;
    background-position: 70% 50%;
    border-radius:8px;
  }
  
  .fifth-section .line {
    width: 1px;
    height: 500px;
    top: 102px;
    left: 1200px;
    position: absolute;
    object-fit: cover;
  }
  
  .fifth-section .type-shooting {
    position: absolute;
    width: 587px;
    height: 463px;
    top: 135px;
    right:4em;
  }
  
  .fifth-section .portrait {
    width: 580px;
    height: 101px;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .fifth-section .name {
    width: 101px;
    height: 39px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .fifth-section .div {
    width: 97px;
    left: 1px;
    font-family: "Open Sans", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .fifth-section .img {
    width: 99px;
    height: 1px;
    top: 38px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .fifth-section .text {
    width: 579px;
    height: 46px;
    position: absolute;
    top: 55px;
    left: 0;
  }
  
  .fifth-section .p {
    position: absolute;
    width: 577px;
    top: 0;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .fifth-section .price {
    width: 60px;
    height: 34px;
    left: 522px;
    position: absolute;
    top: 0;
  }
  
  .fifth-section .text-wrapper-2 {
    width: 58px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .fifth-section .individual {
    width: 586px;
    height: 124px;
    top: 158px;
    position: absolute;
    left: 1px;
  }
  
  .fifth-section .name-2 {
    width: 119px;
    height: 39px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .fifth-section .text-wrapper-3 {
    width: 116px;
    top: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    left: 1px;
  }
  
  .fifth-section .line-2 {
    width: 117px;
    position: absolute;
    height: 1px;
    top: 38px;
    left: 0;
    object-fit: cover;
  }
  
  .fifth-section .div-wrapper {
    width: 569px;
    height: 69px;
    position: absolute;
    top: 55px;
    left: 0;
  }
  
  .fifth-section .text-wrapper-4 {
    position: absolute;
    width: 567px;
    top: 0;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .fifth-section .price-2 {
    width: 66px;
    height: 34px;
    left: 522px;
    position: absolute;
    top: 0;
  }
  
  .fifth-section .text-wrapper-5 {
    width: 64px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .fifth-section .fashion {
    position: absolute;
    width: 587px;
    height: 124px;
    top: 339px;
    left: 0;
  }
  
  .fifth-section .name-3 {
    width: 100px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .fifth-section .line-3 {
    width: 90px;
    position: absolute;
    height: 1px;
    top: 38px;
    left: 0;
    object-fit: cover;
  }
  
  .fifth-section .text-2 {
    width: 589px;
    height: 69px;
    position: absolute;
    top: 55px;
    left: 0;
  }
  
  .fifth-section .text-wrapper-6 {
    position: absolute;
    width: 587px;
    top: 0;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .fifth-section .btn {
    position: absolute;
    width: 169px;
    height: 30px;
    top: 673px;
    left: 1033px;
    all: unset;
    box-sizing: border-box;
  }
  
  .fifth-section .text-wrapper-7 {
    position: absolute;
    top: 3px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 200;
    color: #d0b8ac;
    font-size: 17px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .fifth-section .right-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 137px;
    object-fit: cover;
  }
  
.price-line {
        
        transform: rotate(90deg);
        position: absolute;
        width: 1px;
        height: 126px;
        top: -19px;
        left: 64px;
        background-color: #d0b8ac;

}

.price-content {
    position: absolute;
    width: 60%;
    height: 703px;
    left: 40%
}

.price-button {
    background-color: #b7c0b2;
    padding: 0px 15px;
    border: 1px solid #070707;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex; 
    border-radius: 8px;
    align-items: center; 
    margin-top: 2em;
    bottom:0;
    right: 0;
    position:absolute;
}

.price-button-content {
    display: flex;
    align-items: center;
    color: #070707;
}
.price-button-content:hover {
    color: #D0B8AC;
}

.price-button:hover {
    background-color: #070707;
}

.type-line{
    transform: rotate(180deg);
    position: absolute;
    width: 1px;
    height: 611px;
    top: 0px;
    right: 0px;
    background-color: #d0b8ac;
}

.sixth-section {
    width: 100%;
    height: 263px;
  }
  
  .sixth-section .sixth-container {
    position: relative;
    width: 100%;
    height: 263px;
    top: 0;
    left: 0;
    background-color: #070707;
  }
  
  .sixth-section .overlap-group {
    position: relative;
    width: 100%;
    height: 181px;
    top: 58px;
    
  }
  
  .sixth-section .line {
    position: absolute;
    width: 1200px;
    height: 1px;
    top: 131px;
    left: 0;
    object-fit: cover;
  }
  
  .sixth-section .footer {
    position: absolute;
    width: 100%;
    height: 181px;
    top: 0;
    left: 0;
    background-color: transparent;
  }
  
  .sixth-section .name-photographer {
    position: absolute;
    width: 455px;
    height: 74px;
    top: 0;
    left: 35%;
  }
  
  .sixth-section .text-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    font-family: "Open Sans", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    text-align:center;
  }
  
  .sixth-section .div {
    position: absolute;
    width: 100%;
    top: 44px;
    left: 0;
    font-family: "Glinster", Helvetica;
    font-weight: 400;
    color: #d0b8ac;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sixth-section .footerbar {
    position: absolute;
    width: 444px;
    height: 19px;
    top: 1px;
    left: 0;
  }
  
  .sixth-section .text-wrapper-2 {
    left: 0;
    position: absolute;
    top: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sixth-section .text-wrapper-3 {
    left: 68px;
    position: absolute;
    top: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sixth-section .text-wrapper-4 {
    left: 150px;
    position: absolute;
    top: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .sixth-section .text-wrapper-5 {
    left: 260px;
    position: absolute;
    top: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .text-wrapper-2 a {
    text-decoration: none;
    color: #ffffff;
}
.text-wrapper-3 a {
    text-decoration: none;
    color: #ffffff;
}
.text-wrapper-4 a {
    text-decoration: none;
    color: #ffffff;
}
.text-wrapper-5 a {
    text-decoration: none;
    color: #ffffff;
}
.text-wrapper-2 a:hover {
    text-decoration: none;
    color: #d0b8ac;
}
.text-wrapper-3 a:hover {
    text-decoration: none;
    color: #d0b8ac;
}
.text-wrapper-4 a:hover {
    text-decoration: none;
    color: #d0b8ac;
}
.text-wrapper-5 a:hover {
    text-decoration: none;
    color: #d0b8ac;
}
  .sixth-section .social {
    position: absolute;
    width: 163px;
    height: 20px;
    top: 0;
    right:0;
  }
  
  .sixth-section .twitter {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .sixth-section .email {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 143px;
    object-fit: cover;
  }
  
  .sixth-section .facebook {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 46px;
    object-fit: cover;
  }
  
  .sixth-section .instagram {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 92px;
    object-fit: cover;
  }
  
  .sixth-section .text {
    position: absolute;
    width: 100%;
    height: 18px;
    top: 163px;
    
  }
  
  .sixth-section .p {
    position: absolute;
    top: 0;
    left: 38%;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;

  }

.footer-line {
    transform: rotate(90deg);
        position: relative;
        width: 1px;
        height: 871px;
        top: -275px;
        left: 50%;
        background-color: #d0b8ac;
}
  
/* 1920x1080